header {
    display: block;
    width: 100%;
    background-color: rgb(83, 83, 163);
    border: 2px solid rgb(181, 50, 14);

}

nav {
    box-sizing: border-box;
    text-align: right;
}

nav a {
    display: inline;
    text-decoration: underline;
    font-weight: bold;
    color: rgb(56, 201, 201);
    padding: 5px
}

footer {
    display: block;
    text-align: center;
    background-color: blueviolet;
    margin-bottom: 5px;
}

footer h4 {
    text-align: left;

}

ul {
    display: block;
    text-decoration: underline;
    font-weight: bold;
    color: rgb(56, 201, 201);
    box-sizing: border-box;
    padding: 2px;

}

ul li {
    display: inline;
    width: 100px;
    justify-content: space-between;
    padding: 2px;
}