header {
    display: block;
    width: 100%;
    background-color: rgb(83, 83, 163);
    border: 2px solid rgb(181, 50, 14);
}

nav {
    text-align: left;

}

ul {
    text-align: right;
    text-decoration: underline;
    font-weight: bold;
    color: rgb(56, 201, 201);
}

li {
    display: inline;
}

footer {
    display: block;

    background-color: blueviolet;
    margin-bottom: auto;
}
.ul {
text-align: center;
}